.gameBoard{  
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.boxTop, .boxBottom{
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background: var(--gradient-white);
    border: none;
    text-align: center;
    color: var(--black-color);
    font-weight: 600;
    font-size: var(--font-eighteen);
    text-align: center
}

/* .boxTop h3, .boxBottom h3{
    color: var(--black-color);
    font-weight: 600;
    font-size: var(--font-eighteen);
    text-align: center;
    padding: 0.75rem 0;
} */

.boxTop::placeholder, .boxBottom::placeholder{
    text-align: center;
    color: var(--grey-color);
    font-weight: 600;
    font-size: var(--font-eighteen);
    text-align: center;
    padding: 0.75rem 0;
}

.boxTop:focus, .boxBottom:active{
    background: var(--gradient-blue);
}

.gameKeyboard{
    width: 265px;
    height: calc(100% - 110px);
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    padding: 1rem 0;
}

.keyboard{
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
    margin-top: 1rem;
    padding: .5rem;
    background: var(--gradient-blue);
    color: var(--black-color);
    border: none;
}

.keyboard:hover{
    background: var(--gradient-violet);
    transition: ease-in .3s;
    box-shadow: 0px 5px 30px 0px rgb(95 93 93 / 78%);
    -webkit-box-shadow: 0px 5px 30px 0px rgb(95 93 93 / 78%);
    -moz-box-shadow: 0px 5px 30px 0px rgb(95 93 93 / 78%);
}

.keyboard h3{
    color: var(--black-color);
    font-weight: 500;
}

.spaceBar{
    width: 100%;
    grid-column: 1 / 4;
    height: 4rem;
    border-radius: 10px;
    border: none;
    margin-top: 1rem;
    padding: .5rem;
    background: var(--gradient-blue);
}

.spaceBar h3{
    font-weight: 500;
    color: var(--black-color);
}

.spaceBar:hover{
    background: rgb(168 70 70);
}

@media screen and (min-width: 500px) {
    .gameBoard{
        width: 60%;
    }

    .boxTop, .boxBottom{
        width: 3.8rem;
        height: 3.8rem;
        padding: 1.5rem;
    }
}

@media screen and (min-width: 900px) {
    .gameBoard{
        width: 50%;
    }
}