.cirWrapper{
    position: relative;
}

.cirOne{
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: -3rem;
    left: -1.5rem;
    border-radius: 50%;
    border: 2px dotted var(--yellow-color);
}

.cirFour{
    position: fixed;
    width: 12rem;
    height: 12rem;
    bottom: -1rem;
    left: -4rem;
    border-radius: 50%;
    border: 2px dotted var(--yellow-color);
} 