header{
    padding: 1rem;
    color: var(--black-color);
    background: var(--yellow-color);
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head{
    color: var(--black-color);
}