header{
    padding: 1rem;
    color: var(--white-color);
    background: var(--bg-color);
    height: 10%;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head{
    color: var(--white-color);
}
