footer{
    background: var(--bg-color);
    border-top: 1px solid var(--grey-color);
    display: flex;
    padding: 1rem;
    justify-content: center;
}

.footerText{
    font-size: var(--font-fourteen);
    margin: 0 auto;
    color: var(--white-color);
}