.colorCircle{
    position: relative;
    height: 92%;
    width: 100%;
}

.textContent{
    position: absolute;
    top: 50%;
    width: 55%;
    right: 0%;
}

.yellowCircle{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: var(--yellow-color);
    position: absolute;
    bottom: -4.5rem;
    left: -.5rem;
}

.halfCircle{
    width: 4rem;
    height: 8rem;
    border-radius: 150px 0 0 150px;
    background: var(--violet-color);
    position: absolute;
    right: 0rem;
}

.halfCircleTwo{
    width: 4rem;
    height: 8rem;
    border-radius: 150px 0 0 150px;
    background: var(--liteBlue-color);
    position: absolute;
    left: 5rem;
    transform: rotate(90deg) translate(120%);
    top: 20%;
}

.quater{
    position: absolute;
    bottom: 4rem;
    right: 3rem;
}

.quaterCircle{
    width: 3rem;
    height: 3rem;
    border-radius: 0 0 0 150px;
    background: var(--darkRed-color);
    position: absolute;
    top: 3rem;
    transform: rotate(180deg);
}

.quaterCircleTwo{
    width: 3rem;
    height: 3rem;
    border-radius: 0 0 0 150px;
    background: var(--peach-color);
}

.squareCirlce{
    width: 5rem;
    height: 5rem;
    background: var(--orange-color);
    position: absolute;
    top: 0rem;
    left: 1rem;
}

@media screen and (min-width: 900px) {
    .yellowCircle{
        width: 12rem;
        height: 12rem;
    }
    
    .halfCircle{
        width: 6rem;
        height: 10rem;
    }
    
    .halfCircleTwo{
        width: 6rem;
        height: 10rem;
    }

    .quater{
        bottom: 4rem;
        right: 3rem;
    }
    
    
    .quaterCircle{
        width: 6rem;
        height: 6rem;
        top: 5rem;
    }
    
    .quaterCircleTwo{
        width: 6rem;
        height: 6rem;
    }
    
    .squareCirlce{
        width: 10rem;
        height: 10rem;
    }
}