.colorCircle{
    position: relative;
    height: 100%;
    width: 100%;
}

.textContent{
    position: absolute;
    top: 45%;
    width: 80%;
    right: 0%;
}

.started{
    margin: 1rem 0px;
    align-items: center;
    display: flex;
}

.yellowCircle{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background: var(--yellow-color);
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.halfCircle{
    width: 4rem;
    height: 8rem;
    border-radius: 150px 0 0 150px;
    background: var(--violet-color);
    position: absolute;
    right: 0rem;
}

.halfCircleTwo{
    width: 4rem;
    height: 8rem;
    border-radius: 150px 0 0 150px;
    background: var(--liteBlue-color);
    position: absolute;
    right: 8%;
    transform: rotate(90deg);
    bottom: -2%;
}

.quater{
    position: absolute;
    bottom: 4rem;
    right: 3rem;
    display: none;
}

.quaterCircle{
    width: 3rem;
    height: 3rem;
    border-radius: 0 0 0 150px;
    background: var(--darkRed-color);
    position: absolute;
    top: 3rem;
    transform: rotate(180deg);
}

.quaterCircleTwo{
    width: 3rem;
    height: 3rem;
    border-radius: 0 0 0 150px;
    background: var(--peach-color);
}

.squareCirlce{
    width: 7rem;
    height: 7rem;
    background: var(--orange-color);
    position: absolute;
    top: 0rem;
    left: 1rem;
}


@media screen and (min-width: 900px) {
    
    .textContent{
        position: absolute;
        top: 45%;
        width: 65%;
        right: 0%;
    }
    .yellowCircle{
        width: 12rem;
        height: 12rem;
    }
    
    .halfCircle{
        width: 6rem;
        height: 10rem;
    }
    
    .halfCircleTwo{
        width: 6rem;
        height: 10rem;
        display: block;
    }

    .quater{
        bottom: 9rem;
        right: 3rem;
    }
    
    
    .quaterCircle{
        width: 6rem;
        height: 6rem;
        top: 5rem;
    }
    
    .quaterCircleTwo{
        width: 6rem;
        height: 6rem;
    }
    
    .squareCirlce{
        width: 12rem;
        height: 12rem;
    }
}