
/* FIRST PAGE */
.firstPage{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.head{
    text-align: right;
    font-size: var(--font-twentyFour);
}

.words{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.shapes{
    height: 100%;
    width: 50%;
}

.next{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--yellow-color);
}

.explore{
    text-align: right;
    font-size: var(--font-twentyFour);
}

/* SECOND PAGE */
.secondPage{
   height: 100%;
    width: 100%;
    display: none;
}

.shapesTwo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

