/*------------ [Google_Font] -----------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ramaraja&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
/*------------ [_Root] bde0feff-------FFC368----*/
:root {

    /* Colors */
    --white-color: #fffffd;
    --bg-color: #161930;
    --black-color: #000315;
    --grey-color: #D9D9D9;
    --yellow-color: #f7cd21;
    --red-color: #AB2121;
    --violet-color: #785eea;
    --liteBlue-color: #0084ff;
    --orange-color: #ff4f00;
    --darkRed-color: #740032;
    --peach-color: #ffabb5;
    --gradient-violet: #B196FF;
    --gradient-white: #ECF0FF;
    --gradient-blue: #89AAFF;

  /* #FFD60D */

    /* FontStyle*/
    --fontOne: 'Inter', sans-serif;
    --fontTwo: 'kool-beans';
    

    /* Font Sizes */
    --font-fourtyTwo: 2.2rem;
    --font-thirtyTwo: 1.35rem;
    --font-twentyFour: 1.25rem;
    --font-eighteen: 1.125rem;
    --font-sixteen: .8725rem;
    --font-fourteen: .88rem;
    --font-twelve: .75rem;
}

@media screen and (min-width:900px) {
    :root {
        --font-fourtyTwo: 2.625rem;
        --font-thirtyTwo: 2rem;
        --font-twentyFour: 1.5rem;
        --font-eighteen: 1.25rem;
        --font-sixteen: 1rem;
        --font-fourteen: .88rem;
        --font-twelve: .75rem;
    }
}

/*------------ [_Reset_Styles] -----------*/
*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'kool-beans';
    src: url('../src/assets/Kool-beans-font/kool-beans.regular-webfont.woff2') format('woff2'),
         url('../src/assets/Kool-beans-font/kool-beans.regular-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/*--------------- [_Buttons] -------------*/
/*Btn Style Max*/


/*--------------- [_Utility] -------------*/
body {
    max-width: 1440px;
    height: 100vh;
    /* background-color: var(--bg-color); */
    font-family: var(--fontOne);
    color: var(--white-color);
    letter-spacing: 1px;
}

p, h1, h2, h3,
h4, h5, h6{
    padding: 0;
    margin: 0;
}

h2, h3,
h4, h5, h6 {
    color: var(--white-color);
    font-family: var(--fontOne);
}

p {
    font-size: var(--font-sixteen);
    line-height: 1.5rem;
    color: var(--text-pri-color);
}

h1 {
    font-size: var(--font-fourtyTwo);
    line-height: 3rem;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: var(--fontTwo);
}

h2 {
    font-size: var(--font-thirtyTwo);
    line-height: 2rem;
    font-weight: 700;
}

h3 {
    font-size: var(--font-eighteen);
    line-height: 1.5rem;
    font-weight: 700;
}

h4 {
    font-size: var(--font-sixteen);
    line-height: 1.5rem;
    font-weight: 600;
}

h5 {
    font-size: var(--font-twelve);
    font-weight: 500;
}

h6 {
    font-size: var(--font-eleven);
    line-height: 1.5rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: var(--fontOne);
}

ul li {
    list-style: none;
}

img {
    border: none;
    max-width: 100%;
    background-position: center;
    background-size: cover;
}

.wrapper{
    background: var(--bg-color);
    color: var(--white-color);
    height: 100vh;
    overflow: scroll;
    width: 100%;
    padding: 1rem;
}

.gameWrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.headIntro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headIntro h1{
    font-size: var(--font-fourtyTwo);
    color: var(--gradient-violet);
}